# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc
slice/lengthOfLongestSubstring
slice/arrayPermutation
slice/cstring
slice/extract_comment
slice/find_next
slice/heapsort
slice/hmangle
slice/interleave
slice/lis
slice/list_sum
slice/max_length
slice/maximumvalcontiguoussub
slice/mergesort
slice/mergesort.cc
slice/minM
slice/pinyin_combination
slice/quicksort
slice/ransom_note
slice/remove_comment
slice/smartPtr
slice/visit_control
slice/sqrt
slice/track_median
